@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

:root{
    --font-family: 'Montserrat', sans-serif;
    --bg-color: #4b7bb6;
    --primary-color: #fffff3;
    --variable-color: #71a5e4;
}

body{
    background-color: var(--bg-color);
    color: var(--primary-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0;
    font-family: var(--font-family);
    font-size: large;
    font-weight: lighter;
}

h1{
    font-size: 3em;
}

h2{
    font-size: 2.5em;
}

h3{
    font-size: 2em;
    margin-top: 1em;
}

.mensagem{
    font-size: 1.5em;
    margin-top: 1em;
}

.box{
    border: 1px var(--primary-color) solid;
    display: inline-block;
    font-size: 3em;
    border-radius: 5px;
    margin: 0.15em;
    padding: 0.11em;
}

.btn-jogar{
    padding: 1em;
    margin-top: 1em;
    border: 1px solid var(--primary-color);
    background-color: var(--bg-color);
    color: var(--primary-color);
    font-weight: bold;
    font-family: var(--font-family);
    border-radius: 5px;
}

.btn-jogar:hover{
    background-color: var(--primary-color);
    color: var(--bg-color);
    transition: 0.7s;
}